body {
  background: #bad3ff;
}

.traffic_light {
  width: 400px;
  height: 150px;
  border: 2px solid black;
  border-radius: 100px;
  margin: 40px auto 0;
  padding-left: 10px;
  background: #cccccc;
}

.light {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
  float: left;
  margin: 25px 13px;
  background: #222222;
}

.btns {
  width: 280px;
  height: 100px;
  margin: 20px auto 0;
}

.btn {
  opacity: 0.8;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: white;
  box-shadow: 0 4px 0 #000022;
  cursor: pointer;
  outline :none;
}

.auto {
  background: #a16eff;
  margin: 20px;
  float: left;
}

.change {
  background: #cd5c5c;
  margin: 20px;
  float: right;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  margin-top: 24px;
  box-shadow: none;
}

.disabled {
  pointer-events: none;
}
